.card-wrapper {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #1E5EF3;
    border-radius: 20px;
}

.items-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-btn {
    margin-top: -0.7rem;
    margin-left: 2rem;
    border: 2px solid #1E5EF3;
}

.plan-font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
}