.nav-font-wt {
    font-weight: 400;
}

.btn {
    margin-top: -0.7rem;
    margin-left: 2rem;
    border: 2px solid #1E5EF3;
}

.nav-links {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #161616;
}