.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.salt-info {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #434343;
}

.salt-info-2 {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #434343;
}

.footer-h6 {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #434343;
}

.pages {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    color: #434343;
}

.contact-us {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 33px;
    color: #434343;
}