.card-container {
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
}

.profile-name {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.profile-loc {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.rating {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.review {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    color: #000000;
}