.testi-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testi-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #161616;
}

.testi-sub {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #818181;
}